@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.home {
  background: url('https://lirp.cdn-website.com/c4ea16e4/dms3rep/multi/opt/2123458349-huge-1920w.jpg')
    no-repeat fixed center center / cover;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  z-index: 1000;
}

.skip-link:focus {
  top: 0;
}

@layer components {
  input {
    @apply h-12 w-full max-w-xs rounded px-4 outline outline-1 outline-gray-400 placeholder:text-gray-400 focus:text-gray-900 focus:outline-none focus:ring-2 focus:ring-green-800;
  }
}
